@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: 'Hylia Serif Beta';
    src: url('./HyliaSerifBeta-Regular.otf'), format('opentype');
}

:root {
    --bs-font-sans-serif: 'Ubuntu';
    --code-background: #c7c7c7;
    --bs-code-color: #333537;
    --bs-border-radius: 0.2rem;
}

[data-bs-theme=dark] {
    --bs-body-bg: #1b1f26;
    --bs-body-bg-rgb: 48, 54, 61;
    --bs-code-color: #d1d9e1;
    --code-background: #434343;
}

p {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

li {
    margin: 1.2vh 0;
}

code {
    font-family: 'Ubuntu Mono';
    border-radius: var(--bs-border-radius);
    background: var(--code-background);
    padding: 0.2rem;
    font-size: 1.1rem;
    margin: 0.2rem 0;
}

.content {
    margin: 0 15vh;
}

#logo {
    width: 40px;
    margin-right: 12px;
}

#copyright {
    text-align: center;
}

#main-title {
    font-family: 'Hylia Serif Beta';
    font-weight: 100;
    letter-spacing: 0.1rem;
}