@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Hylia Serif Beta';
    src: url('./HyliaSerifBeta-Regular.otf'), format('opentype');
}

:root {
    --bs-font-sans-serif: 'Fira Sans';
    --code-background: #c7c7c7;
    --bs-code-color: #333537;
    --bs-border-radius: 0.2rem;
    --alert-tip-color: #49e463;
    --alert-info-color: #386ec0;
    --alert-warn-color: #ed7741;
    --alert-danger-color: #be3961;
    --alert-important-color: #6b49e4;
}

[data-bs-theme=dark] {
    --bs-body-bg: #1b1f26;
    --bs-body-bg-rgb: 48, 54, 61;
    --bs-code-color: #d1d9e1;
    --code-background: #434343;
}

a {
    text-decoration: underline;
    transition: color 0.3s;
}

.plain {
    text-decoration: none;
}

li {
    margin: 1.2vh 0;
}

hr {
    margin: 2rem 0;
}

h1,
h2 {
    margin: 0 0 2rem 0;
}

h3 {
    font-size: 1.5rem;
}

h3,
h4 {
    margin: 0 0 1.3rem 0;
}

h5,
h6 {
    margin: 0 0 0.9rem 0;
}

code {
    font-family: 'Ubuntu Mono';
    border-radius: var(--bs-border-radius);
    padding: 0.2rem;
    margin: 0.2rem 0;
    background: var(--code-background);
    font-size: 1.1rem;
}

video {
    border-radius: var(--bs-border-radius);
    max-width: 100% !important;
}

.content {
    margin: 0 20vw;
}

#logo {
    width: 40px;
    margin-right: 12px;
}

#copyright {
    text-align: center;
}

#main-title {
    font-family: 'Hylia Serif Beta';
    font-weight: 100;
    letter-spacing: 0.1rem;
}

#download-btns {
    margin: 0;
    justify-items: center;
    align-items: center;
}

.download-btn {
    margin: 0;
    display: inline-block;
    justify-self: center;
    border-radius: var(--bs-border-radius);
    padding: 1rem;
    margin-right: 1rem;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 0.7rem #00000086;

    &:hover {
        text-decoration: underline;
        box-shadow: inset 0 0 0.5rem #00000086;
    }
}

#download-windows {
    background-color: #275fbe;
    color: #89aceb;
    transition: all 0.3s ease;

    &:hover {
        color: #f1dee2;
    }
}

#download-switch {
    background-color: #cd2332;
    color: #eb9caa;
    transition: all 0.3s ease;

    &:hover {
        color: #f4d8dc;
    }
}

#download-linux {
    background-color: #654ccb;
    color: #ad9ceb;
    transition: all 0.3s ease;

    &:hover {
        color: #dad8f4;
    }
}

#download-macos {
    background-color: #5aa65a;
    color: #baefa0;
    transition: all 0.3s ease;

    &:hover {
        color: #def3dc;
    }
}

#download-main {
    background-color: #0d52b8;
    color: #b4c9f6;
    transition: all 0.3s ease;

    &:hover {
        color: #edf0f6;
    }
}

#download-src {
    background-color: #4a4c58;
    color: #afb3ca;
    transition: all 0.3s ease;

    &:hover {
        color: #d4d6e4;
    }
}

.alert {
    background: #2f000000;
    color: var(--bs-color);
}

.TIP {
    border-color: var(--alert-tip-color);

    h5 {
        color: var(--alert-tip-color);
    }
}

.INFO,
.NOTE {
    border-color: var(--alert-info-color);

    h5 {
        color: var(--alert-info-color);
    }
}

.TIP h5:before, .TIP .h5:before {
    content: "\f46B";
}

.alert-warning {
    border-color: var(--alert-warn-color);

    h5 {
        color: var(--alert-warn-color);
    }
}

.alert-danger {
    border-color: var(--alert-danger-color);

    h5 {
        color: var(--alert-danger-color);
    }
}

.IMPORTANT {
    border-color: var(--alert-important-color);

    h5 {
        color: var(--alert-important-color);
    }
}

kbd {
    background-color: rgba(0 0 0 / 0.05) !important;
    color: var(--bs-body-color) !important;
    border: solid 1px var(--bs-border-color);
    border-bottom-color: var(--bs-border-color);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 var(--bs-border-color);
    padding: .2rem .4rem;
}
